@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: #000000;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #b3b2b1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #eeb844;
  border-radius: 10px;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  @extend .dflex;
  width: 100%;
  height: calc(80vh - 40px);
}
header {
  @extend .dflex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 50px;
  background: #000;
}
.menu_container {
  width: 100%;
  background-color: #000;
  color: #fff;
  @extend .dflex;
  flex-direction: column;
  z-index: 99;

  position: absolute;
  a {
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    height: 80px;
    overflow: hidden;
    font-size: 2vw;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    text-transform: uppercase;
    + a {
      margin-top: 1vw;
    }
  }

  .btn_close {
    @extend .dflex;
    width: 58px;
    height: 58px;
    background-color: #fff;
    color: #000;
    border-radius: 58px;
    position: absolute;
    bottom: 104%;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    font-size: 18px;
  }
}

// Card
.cardcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 15px;
  perspective: 1000px;
}

.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}

.card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.card-content {
  padding-top: 15px;
  font-size: 12px;
  color: rgb(185, 185, 185);
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

.see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(0, 136, 255);
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 12px;
  box-shadow: rgb(0, 102, 255) 0px 20px 60px 0px,
    rgb(0, 200, 255) 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.date-box .date {
  font-size: 19px;
  font-weight: 900;
  color: rgb(0, 136, 255);
}

.card2 {
  filter: hue-rotate(150deg);
}

.card3 {
  filter: hue-rotate(300deg);
}

.card4 {
  filter: hue-rotate(90deg);
}

/////////////////////////////////////////////////////////////////////////////////////////////// Music

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffff; /* Set your desired background color */
  border-radius: 50%; /* Optional: Round the corners */
}

/* Change the navigation button icons */
.swiper-button-next::after {
  // content: "\2192"; /* Unicode arrow right character */
  color: #eeb844;
  font-size: "0.5rem";
}

.swiper-button-prev::after {
  // content: "\2190"; /* Unicode arrow left character */
  color: #eeb844;
  font-size: "0.5rem";
}

////////////////////////////////////////////////////////////////////////////////////////////////MarketPlace
///
///

.jt {
  position: relative;
  font-size: 20vmin;
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px tomato;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  width: "100%";
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
  50%,
  100% {
    transform: translateY(0em);
  }
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}
